<p class="@CssClass">
    @Msj
</p>
<button @onclick="ModalInstance.CloseAsync" class="btn btn-secondary">Cerrar</button>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter] public string CssClass { get; set; }
    [Parameter] public string Msj { get; set; }
}
